:root {
    --primary: #ff5722;
    --white: #ffffff;
    --heading-color: #111;
    --font-color: #777;
    --gray: #f4f6f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;


}

html {
    font-size: 10px;
}

body {
    background-color: var(--gray);
}







/* utility classes */

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

.inner {
    max-width: 1200px;
    padding-inline: 2rem;
    margin: 0 auto;
}

.top-heading {
    position: relative;
    color: var(--heading-color);
    font-size: 1.6rem;
    margin-left: 1rem;
}

.top-heading::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    position: absolute;
    top: -0.6rem;
    z-index: -1;
    left: -1rem;
}

.heading {
    font-size: 4rem;
    font-weight: 700px;
    margin-block: 2rem;
    columns: var(--heading-color);
}

.paragraph {
    color: var(--font-color);
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
}

.btn {
    font-family: "Open Sane", sans-serif;
    width: 17rem;
    padding-block: 1.5rem;
    border-radius: 0.7rem;
    border: 2px solid;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.white-btn {
    border-color: var(--white);
    color: var(--white);
}

.orange-btn {
    border-color: var(--primary);
    color: var(--primary);
}







/* Navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    padding-block: 3rem;
    z-index: 99;
}

.navigation {
    display: flex;
    /* background-color: var(--white); */
    /* width: 100%; */
    align-items: center;
}

.navigation .logo {
    color: var(--heading-color);
    font-size: 5rem;
    font-weight: 700;

}

.navigation ul {
    width: 100%;
    justify-content: center;
}

.navigation ul li {
    list-style-type: none;
    padding-inline: 3rem;
}

.navigation ul li {
    font-size: 2rem;
    color: var(--heading-color);
    font-weight: 500;
}


.navigation .menu {
    width: 2.5rem;
    display: none;
    font-size: 26px;
}






/* banner */

.banner {
    background-image: linear-gradient(to right,
            rgb(12 6 3 / 75%),
            rgb(12 3 0 / 66%)),
        url("images/banner.jpg");
    background-size: cover;
    min-height: 700px;
    padding-bottom: 4rem;
    position: relative;
}

.banner .banner-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .banner-text h1 {
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 3rem;
    font-weight: 800;
}

.banner .banner-text .btn {
    margin: 0 auto;
    color: var(--white);
}





/* About */

.about {
    background-color: var(--white);
    padding: 5rem 4rem;
    border-radius: 1rem;
    margin-top: -10rem;
    z-index: 5;
    position: relative;
}


.about .left {
    width: 58%;
}


.about .right {
    width: 38%;
}

.about .icon-text-box {
    margin-bottom: 1rem;
}

.about .icon-text-box .icon {
    width: 6rem;
    background-color: var(--gray);
    color: var(--primary);
    font-size: 2rem;
    padding-block: 2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.about .icon-text-box .text {
    width: calc(100% - 8rem);
}

.about .icon-text-box .text h3 {
    font-size: 2rem;
}






/* our story */

.our-story {
    padding-block: 10rem;
}

.our-story .story-img {
    width: 48%;
}

.our-story .story-img img {
    border-radius: 0.6rem;
}

.our-story .story-text {
    width: 48%;
}





/* main */

.our-stats {
    padding-block: 10rem;
}

.our-stats .img-stats {
    width: 44%;
}

.our-stats .img-stats img {
    border-radius: 0.6rem;
    padding-top: 1rem;
}

.our-stats .stats-text {
    width: 50%;
}


.stats-icon {
    align-items: center;
    max-width: 450px;
}

.stats-icon .icon {
    padding-block: 2rem;
}


.stats-icon2 .icon {
    font-size: 2rem;
    color: var(--primary);
}


/* hgroup */

.our-posts {
    width: 100%;
    padding-block: 5rem;
}

.our-posts .posts-text{
    width: 100%;
}

.posts-card2 {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1100px; */
}

.posts-card {
    width: 30%;
    /* background-color:#ff5722; */
    margin: 1rem;

}

.posts-img img {
    width: 100%;
    border-radius: 1rem;
}

.posts-icon {
    display: flex;
    align-items: center;
}

.posts-icon .icon {
    color: var(--primary);
    margin: 5px;
}

.posts-icon .text {
    margin: 5px;
}

.title .heading {
    font-size: 20px;
    align-items: center;
}

.title .paragraph {
    font-size: 15px;
    align-items: center;
}


/* Newsletter */

.New {
    padding-block: 5rem;
}

.New{
    background-image: linear-gradient(to right,
            rgb(12 6 3 / 75%),
            rgb(12 3 0 / 66%)),
        url("images/banner.jpg");
    background-size: cover;
    min-height: 500px;
    padding-bottom: 4rem;
    /* position: relative; */
    text-align: center;
}


.New .new-text .top-heading {
    color: var(--white);
}

.New .new-text .heading {
    color: var(--gray);
}

.new-button {
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin-inline: 10rem; */
    padding: 5rem;
}

.new-button .btn {
    margin-inline: 2rem;
}

.new-button .white-btn {
    background-color: var(--white);
    color: var(--font-color);
}

.new-button .orange-btn {
    background-color: var(--primary);
    color: var(--white);
}

.new-news .paragraph {
    font-size: 14px;
    /* padding: 5rem; */
}

.new-news span {
    color: var(--primary);
}




/* Content */

.footer {
    padding-block: 5rem;
    background-color: #111;
    color: var(--white);

}

.container{
max-width: 1100px;
margin: auto;
}

.row{
display: flex;
flex-wrap: wrap;
}

ul{
list-style: none;
}

.footer{
padding: 70px 0;
}

.footer-col{
width: 25%;
padding: 0 15px;
}

.footer-col h4{
font-size: 18px;
margin-bottom: 30px;
font-weight: 500;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col li{
font-size: 15px;
}

.footer .container .row i {
    color: var(--primary);
}

.footer .container .row .bold i {
    background-color: var(--white);
    border-radius: 50%;
    padding: 1rem;
    margin: 2px;
}

@media(max-width:901px) {

    .inner {
        max-width: 600px;
    }

    .navigation {
        align-items: center;
        justify-content: space-between;
    }

    .navigation .menu {
        display: block;
    }


    .navigation ul {
        display: none;
    }

    /* banner */

    .about .left,
    .about .right {
        width: 100%;
    }

    .about.right {
        margin-top: 4rem;
    }

    /* story */

    .our-story .story-img,
    .our-story .story-text {
        width: 100%;
    }

    .our-story .story-text {
        margin-top: 4rem;
    }


    /* main */

    .our-stats .img-stats,
    .our-stats .stats-text {
        width: 100%;
    }

    .stats-icon .stats-icon2 .icon {
        align-items: center;
        max-width: 1200px;
    }

/* .our-posts */

.posts-card{
width: 100%;

}

/* .footer */

.footer-col{
width: 50%;
margin-bottom: 30px;
}

}



@media (max-width:670px) {

    html {
        font-size: 8px;
    }

    /* footer */
.footer-col{
width: 100%;
}


}